* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 1.2em;
    color: #fff;
    background: #000 url(../imagens/background.jpg);
}

#main {
    width: 50%;
    min-width: 500px;
    margin: 30px auto;
}

#formulario-cadastro {
    width: 95%;
    margin: 0 auto;
}

#formulario-cadastro h1 {
    color: red;
    text-align: center;
}

#formulario-cadastro form {
    padding: 10px
}

#formulario-cadastro fieldset {
    padding: 15px;
    margin-bottom: 5px;
    background: rgba(0, 0 ,0, 0.4);
    border: 1px solid #F6DDCC;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -o-border-radius: 7px;
    border-radius: 7px;
}

#formulario-cadastro legend {
    color: #D35400;
    font-weight: bold;
}

#formulario-cadastro input {
    width: 100%;
    height: 20px;
    background: rgba(255, 255, 255, 0.9);
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -o-border-radius: 7px;
    border-radius: 7px;
}

#formulario-cadastro .form-submit-buttom {
    width: 300px;
    height: 50px;
    color: red;
    font-weight: bold;
    background: rgba(210, 210, 210, 0.8);

    display: block;
    margin: 10px auto;
}
